.funding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.fundingImageLong {
  height: 80px;
  width: 150px;
}

.fundingImage {
  height: 80px;
  width: 80px;
}
